/* .ordered-infor{
    width: 70%;
} */
.order-items{
    margin-left: 17%;
    background-color: #FAEFEF;width: 70%;
    border: solid 2px #f78484 ;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
}
.infor-block{
    
}
.order-text{
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #173F5F;
}
.order-span{
    flex :1;
}
.order-author{
    font-weight: bold;
}
.order-btn{
    background: #ED553B;
    border: none;
    color: #FFF;
    border-radius: 10px;
    padding: 8px;
  margin-left: 10px;
}