button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
.on {
    color: darkorange;
    /* background-color: blue; */

  }
.off {
    color: #ccc;
  }
  .star-rating{
    display: flex;
  }
  .star{
    color: darkorange;
  }